<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}{% endblock %} - openakun</title>
            {% if get_dark_mode() %}
                <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-darkly.min.css') }}">
            {% else %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            {% endif %}
            <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
            <style>
             body {
                 padding-top: 4.5rem;
             }
             .sidebar {
                 position: fixed;
                 top: 4.5rem;
                 right: 0;
                 bottom: 0;
                 border-left: 1px solid #ccc;
                 display: flex;
                 flex-direction: column;
                 padding-right: 0;
             }
            </style>
            <script nonce="{{ get_script_nonce() }}" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/moment.min.js') }}" integrity="sha384-2xoILS8hBHw+Atyv/qJLEdk8dFdW1hbGjfeQ3G0GU3pGNPlqck0chRqjMTZ5blGf" crossorigin="anonymous"></script>
            <!-- <script nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/htmx-1.9.10.min.js') }}" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"></script> -->
            <script defer nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/htmx-1.9.10.js') }}" integrity="sha384-j1TtLExqttdT7C3Z/rJy8UZcCGiuqwwN9++coZ6up+5O/l2FHdp3IGfuJOvst6d1"></script>
            <script defer nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/htmx-ws-1.9.10.js') }}" integrity="sha384-CbqBkJV6GwhMBqicktBl0upImEYueWq3NQGWrS4HI1niUlhXAEfe9KoSWrst6Y2q"></script>
            <script defer nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/json-enc-1.9.10.js') }}" integrity="sha384-nRnAvEUI7N/XvvowiMiq7oEI04gOXMCqD3Bidvedw+YNbj7zTQACPlRI3Jt3vYM4"></script>
            <script nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='main.js') }}"></script>
            <script nonce="{{ get_script_nonce() }}" type="text/javascript">
             var settings_url = '{{ url_for('questing.change_settings') }}';
             var in_dark_mode = {{ 'true' if get_dark_mode() else 'false' }};
             $(function () {
               $('#logout_link').click(function () {
                 $('#logout_form').submit();
                 return false;
               });
               $('.todo').click(function () {
                 alert("Sorry, this function is not implemented yet");
               });
             });
            </script>
        {% endblock %}
    </head>
    <body hx-ext="ws" ws-connect="/ws/{% if request.endpoint == 'questing.view_chapter' %}{{ chapter.story.channel_id }}{% elif request.endpoint == 'questing.main' %}main{% endif %}">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar_top">
            <a class="navbar-brand" href="{{ url_for('questing.main') }}">openakun</a>
            <div class="navbar-nav">
                <div class="dropdown">
                    <a class="btn nav-link dropdown-toggle" id="mainmenu-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="mainmenu-link">
                        <a class="dropdown-item" href="{{ url_for('questing.main') }}">Home</a>
                        <a class="dropdown-item todo" href="#">Tags</a>
                        <a class="dropdown-item todo" href="#">About</a>
                        {% if g.current_user != None %}<a class="dropdown-item" href="{{ url_for('questing.post_story') }}">Post a story</a>{% endif %}
                        <a class="dropdown-item" hx-post="{{ url_for('questing.change_settings') }}"
                           hx-vals='{ "dark_mode": "{{ '0' if get_dark_mode() else '1' }}" }'>Use {% if get_dark_mode() %}light{% else %}dark{% endif %} mode</a>
                        {% block inside_mainmenu %}{% endblock %}
                    </div>
                </div>
            </div>
            {% block inside_menubar %}{% endblock %}
            <div class="navbar-nav mr-auto"></div>
            <div class="navbar-nav">
                {% if g.current_user == None %}
                    <a class="nav-item nav-link" href="{{ url_for('questing.login', next=request.path) }}">Log in</a>
                {% else %}
                    <span class="navbar-text mr-lg-3">Welcome, {{ g.current_user.name }}</span>
                    <a class="nav-item nav-link mr-lg-3" href="{{ url_for('questing.user_profile', user_id=g.current_user.id) }}">Profile</a>
                    <!-- <form action="{{ url_for('questing.logout') }}" method="POST" id="logout_form"><input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"> -->
                    <a hx-post="{{ url_for('questing.logout') }}"
                       hx-vals='{ "_csrf_token": "{{ session['_csrf_token'] }}", "next": "{{ request.full_path }}"}' class="nav-item nav-link">Log out</a>
                        <!-- </form> -->
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col-8">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div id="content-container" class="pl-5 pr-5" hx-history-elt>
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
                <div class="col-4 sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
