<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}{% endblock %} - openakun</title>
            {% if get_dark_mode() %}
                <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-darkly.min.css') }}">
            {% else %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            {% endif %}
            <style>
             body {
                 padding-top: 4.5rem;
             }
             .sidebar {
                 position: fixed;
                 top: 4.5rem;
                 right: 0;
                 bottom: 0;
                 border-left: 1px solid #ccc;
                 display: flex;
                 flex-direction: column;
                 padding-right: 0;
             }
            </style>
            <script nonce="{{ get_script_nonce() }}" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='moment.min.js') }}" integrity="sha384-meAyhHvmIHRDgCRCuiknGm4rw6gVWtahMXXtKkbvrMZnQClqzbK/tJTlt+QnqE+l" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" type="text/javascript">
             var settings_url = '{{ url_for('change_settings') }}';
             var in_dark_mode = {{ 'true' if get_dark_mode() else 'false' }};
             $(function () {
               $('#logout_link').click(function () {
                 $('#logout_form').submit();
                 return false;
               });
               $('.todo').click(function () {
                 alert("Sorry, this function is not implemented yet");
               });
               $('#change_color_mode').click(function () {
                 $.post(settings_url, { 'dark_mode': in_dark_mode ? 0 : 1 },
                        function () {
                          location.reload();
                        });
                 return false;
               });
             });
            </script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar_top">
            <a class="navbar-brand" href="{{ url_for('main') }}">openakun</a>
            <div class="navbar-nav">
                <div class="dropdown">
                    <a class="btn nav-link dropdown-toggle" id="mainmenu-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu" aria-labelledby="mainmenu-link">
                        <a class="dropdown-item" href="{{ url_for('main') }}">Home</a>
                        <a class="dropdown-item todo" href="#">Tags</a>
                        <a class="dropdown-item todo" href="#">About</a>
                        {% if not current_user.is_anonymous %}<a class="dropdown-item" href="{{ url_for('post_story') }}">Post a story</a>{% endif %}
                        <a class="dropdown-item" id="change_color_mode" href="#">Use {% if get_dark_mode() %}light{% else %}dark{% endif %} mode</a>
                        {% block inside_mainmenu %}{% endblock %}
                    </div>
                </div>
            </div>
            {% block inside_menubar %}{% endblock %}
            <div class="navbar-nav mr-auto"></div>
            <div class="navbar-nav">
                {% if current_user.is_anonymous %}
                    <a class="nav-item nav-link" href="{{ url_for('login', next=request.path) }}">Log in</a>
                {% else %}
                    <span class="navbar-text mr-lg-3">Welcome, {{ current_user.name }}</span>
                    <a class="nav-item nav-link mr-lg-3" href="{{ url_for('user_profile', user_id=current_user.id) }}">Profile</a>
                    <form action="{{ url_for('logout') }}" method="POST" id="logout_form"><input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}">
                        <a class="nav-item nav-link" href="#" id="logout_link">Log out</a>
                    </form>
                {% endif %}
            </div>
        </nav>
        <div class="container-fluid pt-5">
            <div class="row">
                <div class="col-8">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-primary" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="pl-5 pr-5">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
                <div class="col-4 sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
