{%- import 'macros.html' as macs -%}
<!DOCTYPE html>
<html{% if get_dark_mode() %} data-theme="forest"{% endif %}>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>{% block title %}{% endblock %} - openakun</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
            <script nonce="{{ get_script_nonce() }}" src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <script nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/moment.min.js') }}" integrity="sha384-2xoILS8hBHw+Atyv/qJLEdk8dFdW1hbGjfeQ3G0GU3pGNPlqck0chRqjMTZ5blGf" crossorigin="anonymous"></script>
            <script defer nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/htmx-1.9.10.js') }}" integrity="sha384-j1TtLExqttdT7C3Z/rJy8UZcCGiuqwwN9++coZ6up+5O/l2FHdp3IGfuJOvst6d1"></script>
            <script defer nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/htmx-ws-1.9.10.js') }}" integrity="sha384-CbqBkJV6GwhMBqicktBl0upImEYueWq3NQGWrS4HI1niUlhXAEfe9KoSWrst6Y2q"></script>
            <script defer nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='vendor/json-enc-1.9.10.js') }}" integrity="sha384-nRnAvEUI7N/XvvowiMiq7oEI04gOXMCqD3Bidvedw+YNbj7zTQACPlRI3Jt3vYM4"></script>
            <script nonce="{{ get_script_nonce() }}" src="{{ url_for('static', filename='main.js') }}"></script>
        {% endblock %}
    </head>
    <body hx-ext="ws"
          ws-connect="/ws/{% if request.endpoint == 'questing.view_chapter' %}{{ chapter.story.channel_id }}{% elif request.endpoint == 'questing.main' %}main{% endif %}"
          class="dark:bg-stone-800 dark:text-neutral-100">
        <nav class="navbar fixed z-5 top-0 left-0 w-full bg-neutral-100 dark:bg-stone-700" id="navbar_top">
            <a class="p-4 hover:bg-neutral-200" href="{{ url_for('questing.main') }}">openakun</a>
            <div class="dropdown">
                <div tabindex="0" role="button"
                     class="p-4 m-0 hover:bg-blue-500 hover:text-white focus:bg-blue-500
                               focus:text-white cursor-pointer
                               flex flex-row items-center" id="mainmenu-link">Menu {{ macs.dropdown_icon(size=30) }}</div>
                <ul tabindex="0"
                    class="menu dropdown-content bg-neutral-100 dark:bg-stone-700 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a class="" href="{{ url_for('questing.main') }}">Home</a></li>
                    <li><a class="" href="#">Tags</a></li>
                    <li><a class="" href="#">About</a></li>
                    {% if g.current_user != None %}<li>
                        <a class="" href="{{ url_for('questing.post_story') }}"
                        >Post a story</a></li>{% endif %}
                        <li x-data="{ dark_mode: {% if get_dark_mode() %}true{% else %}false{% endif %} }"
                            @set-dark-mode.window="dark_mode = $event.detail.value"
                        ><a class="" hx-post="{{ url_for('questing.change_settings') }}"
                            hx-swap="none" hx-include="input[name=dark_mode]">
                            <input type="hidden" name="dark_mode" :value="dark_mode ? '0' : '1'">
                            <span x-text="dark_mode ? 'Use light mode' : 'Use dark mode'">{% if get_dark_mode() %}Use light mode{% else %}Use dark mode{% endif %}</span>
                        </a></li>
                    {% block inside_mainmenu %}{% endblock %}
                </ul>
            </div>
            {% block inside_menubar %}{% endblock %}
            <div class="flex-1"></div>
            <div class="">
                {% if g.current_user == None %}
                    <a class="p-4 hover:bg-neutral-200"
                       href="{{ url_for('questing.login', next=request.path) }}"
                    >Log in</a>
                {% else %}
                    <span class="p-4">Welcome, {{ g.current_user.name }}</span>
                    <a class="p-4 hover:bg-neutral-200"
                       href="{{ url_for('questing.user_profile', user_id=g.current_user.id) }}"
                    >Profile</a>
                    <a hx-post="{{ url_for('questing.logout') }}"
                       hx-vals='{ "_csrf_token": "{{ session["_csrf_token"] }}",
                                "next": "{{ request.full_path }}"}'
                       class="p-4 hover:bg-neutral-200 cursor-pointer">Log out</a>
                {% endif %}
            </div>
        </nav>
        <div class="pt-20 w-full flex flex-row">
            <div class="w-2/3 m-3 pr-6">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div id="content-container" class="pl-5 pr-5" hx-history-elt>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="fixed right-0 top-20 bottom-0 w-1/3 flex flex-col">
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
