{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
    <h2>Log in</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group row">
            <label for="user" class="col-lg-2 col-form-label">Username</label>
            <div class="col-lg-10">
                <input type="text" name="user" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="pass" class="col-lg-2 col-form-label">Password</label>
            <div class="col-lg-10">
                <input type="password" name="pass" class="form-control">
            </div>
        </div>
        {% if request.args.get('next') != None %}
            <input type="hidden" name="next" value="{{ request.args.get('next') }}">
        {% endif %}
        <input type="submit" value="Log in" class="btn">
    </form><br>
    <a href="{{ url_for('register') }}">Register new user</a>
{% endblock %}
