{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
    <h2>Log in</h2>
    <form action="{{ url_for('questing.login') }}" method="POST">
        <fieldset class="fieldset">
            <input type="text" name="user" class="input" placeholder="Username">
            <input type="password" name="pass" class="input" placeholder="Password">
        </fieldset>
        {% if request.args.get('next') != None %}
            <input type="hidden" name="next" value="{{ request.args.get('next') }}">
        {% endif %}
        <input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}">
        <input type="submit" value="Log in" class="btn">&nbsp;&nbsp;<a class="btn" href="{{ url_for('questing.register') }}">Register new user</a>
    </form>
{% endblock %}
