{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content %}
    <h2>Log in</h2>
    <form action="{{ url_for('login') }}" method="POST">
        Username: <input type="text" name="user"><br>
        Password: <input type="password" name="pass"><br>
        {% if request.args.get('next') != None %}
            <input type="hidden" name="next" value="{{ request.args.get('next') }}">
        {% endif %}
        <input type="submit" value="Log in">
    </form>
    <a href="{{ url_for('register') }}">Register new user</a>
{% endblock %}
