{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}
    {{ super() }}
    <script nonce="{{ get_script_nonce() }}" type="text/javascript">
     /* a hack to work around the fact that flex is weird */
     $(function () {
         $('.story-display').each(function () {
             var h = $(this).prev().height();
             $(this).css('min-height', h);
         });
     });
    </script>
{% endblock %}
{% block content %}
    {% for s in stories %}
        <div class="flex flex-row">
            <img class="" src="https://placehold.co/200x200">
            <div class="flex flex-col ml-2">
                <h4 class="block"><a href="{{ url_for('questing.view_story', story_id=s.id) }}">{{ s.title }}</a></h4>
                <div class="story-description flex-auto">
                    {{ s.description | safe }}
                </div>
                <div class="story-info"><div class="author"><a href="{{ url_for('questing.user_profile', user_id=s.author.id) }}">{{ s.author.name }}</div></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
