{% extends "base.html" %}
{% block title %}New story{% endblock %}
{% block content %}
    <h2>Post story</h2>
    <form class="flex flex-col w-full" action="{{ url_for("questing.post_story") }}" method="POST" id="storypost-form">
        <fieldset class="fieldset flex flex-row w-full"><label for="title" class="input w-full"><span class="label">Title:</span><input type="text" name="title" class=""></label></fieldset>
        <fieldset class="fieldset w-full">
            <legend class="fieldset-legend">Description:</legend>
            <textarea class="textarea w-full" name="description"></textarea>
        </fieldset>
        <input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}"><br>
        <input type="submit" value="Post" class="btn mt-2">
    </form>
{% endblock %}
