{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <h2>Sign up</h2>
    <form action="{{ url_for('questing.register') }}" method="POST" class="flex flex-col w-1/2 mt-2">
        <label class="input mt-1 w-full"><span class="label">Username:</span><input type="text" name="user"></label>
        <label class="input mt-1 w-full"><span class="label">Email:</span><input type="text" name="email"></label>
        <label class="input mt-1 w-full"><span class="label">Password:</span><input type="password" name="pass1"></label>
        <label class="input mt-1 w-full"><span class="label">Verify:</span><input type="password" name="pass2"></label>
        <input type="hidden" name="_csrf_token" value="{{ session['_csrf_token'] }}">
        <input type="submit" class="btn mt-1" value="Sign up">
    </form>
{% endblock %}
