{% extends "story_view.html" %}
{% block title %}{{ story.title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block inside_menubar %}
    <div class="navbar-nav">
        <div class="dropdown">
            <a class="btn nav-link dropdown-toggle" id="chaptermenu-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Story</a>
            <div class="dropdown-menu" aria-labelledby="chaptermenu-link">
                {% if chapter.story.chapters|length > 1 %}
                    <span class="dropdown-header">Contents</span>
                    {% for i in chapter.story.chapters %}
                        <a class="dropdown-item" href="{{ url_for('questing.view_chapter', story_id=chapter.story.id, chapter_id=i.id) }}"
                           hx-get="{{ url_for('questing.view_chapter', story_id=chapter.story.id, chapter_id=i.id) }}"
                           hx-target="#content-container" hx-push-url="true">{{ i.title }}</a>
                    {% endfor %}
                {% endif %}
                <span class="dropdown-header">Story actions</span>
                <div id="story_actions"><div class="dropdown-item">1</div><div class="dropdown-item">2</div></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
  <h1 class="story-title">{{ chapter.story.title }}</h1>
  <div class="story-author">
    <a href="{{ url_for('questing.user_profile', user_id=chapter.story.author.id) }}">{{ chapter.story.author.name }}</a>
  </div>
  {% if chapter == chapter.story.chapters[0] %}
    <div class="description">
      {{ chapter.story.description | safe }}
    </div>
  {% endif %}
  <div id="story-content" data-chapter-id="{{ chapter.id }}">
    {% for p in chapter.posts %}
      {% do prepare_post(p, True) %}
      {% include 'render_post.html' %}
    {% endfor %}
  </div>
  {% if chapter != chapter.story.chapters[-1] %}
      {% set next_chapter = chapter.story.chapters[chapter.story.chapters.index(chapter)+1] %}
      <a class="nextchapter_link" href="{{ url_for('questing.view_chapter', story_id=chapter.story.id, chapter_id=next_chapter.id) }}"
         hx-get="{{ url_for('questing.view_chapter', story_id=chapter.story.id, chapter_id=next_chapter.id) }}"
         hx-target="#content-container" hx-push-url="true">Next: {{ next_chapter.title }}</a>
  {% endif %}
  {% if chapter.story.author == g.current_user and chapter == chapter.story.chapters[-1] %}
    <div class="post-editor" x-data="post_editor">
      <h5 class="mb-3">Make a new post</h5>
      <div class="form-inline form-group" id="chapter_section">
        <input class="form-check-input" type="checkbox" x-model="make_new_chapter">
        <label class="form-check-label mr-5">Begin a new chapter</label>
        <input class="form-control" type="text" placeholder="Title" x-model="new_chapter_title" x-show="make_new_chapter">
      </div>
      <label class="radio-inline"><input type="radio" name="post_type" value="Text" checked="checked" x-model="post_type"> Text post</label>
      <label class="radio-inline"><input type="radio" name="post_type" value="Vote" @click="$nextTick(() => { $dispatch('xta-setup') })" x-model="post_type"> Vote</label>
      <label class="radio-inline"><input type="radio" name="post_type" value="Writein" x-model="post_type"> Write-in</label>
      <input type="hidden" name="post_text" x-ref="text_hidden_input" value="" x-model="post_text">
      <div x-ref="text-editor" x-show="post_type == 'Text'">
        <div x-ref="rich_text_editor">
        </div>
      </div>
      <div x-ref="vote-editor" x-show="post_type == 'Vote'">
        <div class="vote-question">
          <textarea class="vote-editor" rows="1" data-min-rows="1" placeholder="What are you voting on?" x-bind="expanding_textarea" x-model="vote_question" pixel-height="24"></textarea>
        </div>
        <div>
            <label class="form-check-label mr-3"><input class="form-check-input ml-0" type="checkbox" x-model="vote_multivote"> Allow multiple votes</label>
            <label class="form-check-label mr-3"><input class="form-check-input ml-0" type="checkbox" x-model="vote_writein"> Allow write-in options</label>
            <label class="form-check-label mr-3"><input class="form-check-input ml-0" type="checkbox" x-model="vote_hidden"> Hide vote totals until close</label>
        </div>
        <div class="vote-entries">
          <template x-for="(v, i) in vote_options">
            <div class="has-vote">
              <div class="vote-text"><textarea class="vote-editor" rows="1" data-min-rows="1" x-bind="expanding_textarea" x-model="v.text" pixel-height="28"></textarea></div>
              <div class="delete-vote" role="button" tabindex="0" title="Delete entry" @keydown.enter="delete_option(i)" @click="delete_option(i)">✘</div></div>
          </template>
          <button @click="add_option()">+ Add new option</button>
        </div>
      </div>
      <button class="btn mt-2" @click="submit()">Post</button>
    </div>
  {% endif %}
{% endblock %}
