div.vote-entry:hover {
  color: #eee;
  background-color: #007bff;
}
div.vote-entry.voted-for {
  color: #eee;
  background-color: #007bff;
}
div.delete-vote:hover {
  background-color: #ff5555;
}
input.vote_question {
  border-color: #aaa;
}
