#vote-editor {
  margin: 1em;
}
.vote {
  font-size: large;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.vote-question {
  margin-bottom: 0.5em;
}
textarea.vote-editor {
  border-width: 1px;
  width: 100%;
  margin-bottom: -3px;          /* I don't understand this, but it's necessary somehow? */
}
div.has-vote {
  display: flex;
}
div.active-vote div.vote-entry {
  cursor: pointer;
}
div.active-vote div.vote-entry:hover {
  color: var(--vote-selected-text-color);
  background-color: var(--vote-selected-bg-color);
}
div.vote-entry.voted-for {
  color: var(--vote-selected-text-color);
  background-color: var(--vote-selected-bg-color);
}
.vote-text {
  flex: auto;
  padding: .5em;
}
.killed-vote {
  color: #888;
  text-decoration: line-through;
  font-size: smaller;
}
.kill-reason-text {
  font-size: smaller;
  color: #888;
}
div.vote-editing .vote-entry.new-vote {
  display: flex;
}
div.can-add-votes .vote-entry.new-vote {
  display: flex;
}
div.vote-editing .vote-entry {
  cursor: default;
}
.vote-button {
  padding: .5em;
  display: flex;
  align-items: center;
  cursor: pointer;
}
div.delete-vote {
  align-self: center;
}
div.delete-vote:hover {
  background-color: var(--vote-delete-bg-color);
}
div.restore-vote:hover {
  background-color: #55ff55;
}
div.kill-reason:hover {
  background-color: #cccccc;
}
div.kill-reason {
  font-weight: bold;
}
div.vote-count {
  padding: .5em;
  display: flex;
  align-items: center;
}
div.vote-editing div.vote-count {
  display: none;
}
div.new-vote {
  padding: .5em;
  cursor: pointer;
}
.submit-row {
  text-align: right;
  margin-top: 2px;
}
.vote-entries {
  margin-bottom: 5px;
}
input.kill-text-edit {
  font-size: smaller;
  height: 75%;
  align-self: center;
}
div.settings {
  display: flex;
  margin: 1em;
  font-size: smaller;
}
div.settings button {
  margin-left: auto;
  height: 75%;
}
div.settings input, div.settings select {
  margin-left: 0.5em;
}
div.settings input {
  font-size: smaller;
  height: 75%;
  align-self: center;
}
div.settings input:invalid {
  border: 1px dashed red;
}
div.settings span {
  align-self: center;
}
label.settings-option {
  margin-right: 1em;
}
